---
layout: default
---
<section class="flex flex-wrap w-100">
  {% assign items = site.projects | sort: 'date' | reverse %}
  {% assign years = items | group_by_exp: "item", "item.date | date : '%Y'"  %}

  {%- for year in years -%}
       <h2 class="h2 tl ph2 f3 w-100 black-50 bb">{{year.name}}</h2>
    </article>
   {%- for project in year.items -%}
      <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--1x1 z-1">
          {%- assign thumbnail = project.thumbnail | default: "/assets/projects/no_thumbnail.png"  -%}
          <img style="background-image:url({{thumbnail | relative_url}});" 
          class="db bg-center cover aspect-ratio--object" />
        </div>
        <div class="ph2 ph0-ns pb3 db dim">
          <a href="{{ project.url | relative_url}}" class="dim link">
            <h3 class="f5 f4-ns mb0 black-90">{{project.title}}</h3>
            <h3 class="f6 f5 fw4 mt2 black-60">{{project.subtitle}}</h3>
          </a>
        </div>
      </article>
   {%- endfor -%}

  {%- endfor -%}
  

  {%- for project in items -%}
 
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1 z-1">
        {%- assign thumbnail = project.thumbnail | default: "/assets/projects/no_thumbnail.png"  -%}
        <img style="background-image:url({{thumbnail | relative_url}});" 
        class="db bg-center cover aspect-ratio--object" />
      </div>
      <div class="ph2 ph0-ns pb3 db dim">
        <a href="{{ project.url | relative_url}}" class="dim link">
          <h3 class="f5 f4-ns mb0 black-90">{{project.title}}</h3>
          <h3 class="f6 f5 fw4 mt2 black-60">{{project.subtitle}}</h3>
        </a>
      </div>
    </article>
  {%- endfor -%}
</section>
